@if (list(); as currentList) {
<div class="bg-base-300 h-fit space-y-4 rounded-xl p-4 shadow-md">

    <app-click-action-component (rightClick)="handleRightClick()" (doubleClick)="openEditModal()">
        <h2 class="text-secondary text-center flex-1 mb-3 text-lg font-bold">{{currentList.title}}</h2>
    </app-click-action-component>

    <button (click)="openNewTaskModal()" class="du-btn du-btn-sm du-btn-outline du-btn-accent w-full gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" stroke="currentColor" stroke-width="2"
            viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
        </svg>
        New task
    </button>

    <!-- Tasks Container -->
    <div class="space-y-3" cdkDropList [id]="dropListId()" [cdkDropListData]="currentList.tasks"
        [cdkDropListConnectedTo]="connectedDropLists()" (cdkDropListDropped)="handleDrop($event)">
        @for (task of currentList.tasks; track task.id) {
        <app-task-component [taskId]="task.id" class="m-1" />
        } @empty {
        <div class="py-6 text-center">
            <app-empty-task-component />
            <p class="text-base-content/60 mt-2 text-sm italic">No tasks in {{ currentList.title }}</p>
        </div>
        }
    </div>
</div>

<!-- New Task Modal -->
<app-modal-component [modalId]="newTaskModalId()" (openModal)="openNewTaskModal()">
    <app-unified-form [config]="taskFormConfig" (formSubmit)="handleNewTask($event)" />
</app-modal-component>
<!-- Edit List Modal -->
<app-modal-component [modalId]="editModalId()">
    <app-unified-form [config]="listFormConfig" [data]="currentList" (formSubmit)="handleListUpdate($event)" />
</app-modal-component>
<!-- Delete List Modal -->
<app-modal-component [modalId]="deleteModalId()" (openModal)="openDeleteModal()">
    <app-delete-element-confirm [title]="'List actions'" [buttonText]="'Delete list'"
        (confirmDelete)="handleDelete()" />
</app-modal-component>
}