@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
    prefix: "du-";
    themes: all;
}

@layer components {
    .page-content {
        @apply container mx-auto min-h-screen px-4 py-6;
    }
    .navbar {
        @apply flex items-center justify-between border-b-2 px-6 py-4 shadow-md;
    }
    .footer {
        @apply mt-auto p-4 text-center;
    }
    .navlink {
        @apply hover:text-primary rounded px-3 py-2;
    }

    .layout-container {
        @apply flex min-h-screen flex-col;
    }

    .link-hover:hover {
        @apply text-primary transition-colors duration-200;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        @apply bg-base-200;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-base-300 rounded-full;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-primary;
    }
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
